<div class="container">
    <button (click)="openSnackBar('Testing our snackBar for success message!', 'Zatvori', 'Success', 3000)">Snack success</button>
    <button (click)="openSnackBar('Testing our snackBar for error message!', 'Zatvori', 'Error')">Snack error</button>
    <button (click)="openSnackBar('Testing our snackBar for warning message!', 'Zatvori', 'Warning')">Snack warning</button>
    <button (click)="openSnackBar('Testing our snackBar for info message!', 'Zatvori', 'Info')">Snack info</button>
</div>