<div class="cus-snakebar">
    <span class="cus-snakebar">
        <span class="mat-icon-container">
            <mat-icon class="mat-icon-snack">{{ data?.icon }}</mat-icon>
        </span>
        &nbsp;
        <span>
            <h3 class="h3-snack">{{ data?.type }}</h3>
            <span>{{ data?.message }}</span>
        </span>
    </span>
    <div class="spacer"></div>
    <button mat-button class="mat-button-action" (click)="closeSnackbar()">
        {{ data?.action }}
    </button>
</div>
<mat-progress-bar mode="determinate" [value]="progress | async"></mat-progress-bar>